
.container{
    height: 100vh;
    width:100%;
    background-color: black;
    color: white;
    padding: 2rem;
    display: flex;
    align-items: center;
}

/* register and login page css */

.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    row-gap:1rem;
    padding: 1rem 0.75rem;
    border-radius: 0.45rem;
}

.form h1{
    margin-left: 0.50rem;
}

.inp{
    padding: 0.55rem 0.25rem;
    text-indent: 0.25rem;
    border-radius: 0.65rem;
}

.btn{
    color: white;
    background-color: rgb(215, 55, 80);
    padding: 0.55rem 0.25rem;
    border: none;
    border-radius: 0.45rem;
    font-weight: bold;
    font-size: 1.1rem;

}

.btn:hover {
    background-color: rgb(200, 99, 114); 
}


.form p{
    margin-left: 0.25rem;
}

a {
    color: rgb(215, 55, 80);
    text-decoration: none;
    
}

.nf {
    justify-content: center;
}

.success{
    width: 100%;
    background-color: lightgreen;
    color: rgb(1, 61, 45);
    padding: 0.30rem;
    border-radius: 0.25rem;
    font-weight: bold;
}

.invisible-msg {

    width: fit-content;
    opacity: 0;
    font-size: 0.1rem;
}

.error {
    width: 100%;
    background-color: lightpink;
    color:rgb(215, 55, 80);
    padding: 0.30rem;
    border-radius: 0.25rem;
    font-weight: bold;
}

/* diet page css */

.search-container {
    flex-direction: column;
}

.search {
    width: 100%;
    padding: 0.60rem;
    background-color: #ffff;
    border-radius: 0.65rem;
    position: relative;
}

.search-inp{
    width: 100%;
    border: 3px solid rgb(215, 55, 80);
    border-radius: 0.65rem;
    text-indent: 0.5rem;
    font-size: 1rem;
}

.search-results{
    width: 100%;
    background-color: black;
    border-radius: 0.60rem;
    padding: 0.625rem 0.325rem;
    margin-top: 1.2rem;
    position: absolute;
    left:0;  
}

.food{
    margin-top: 1rem;
    width: 100%;
    padding: 0.75rem 0.85rem;
    padding-bottom: 0.85rem;
    background-color: white;
    border-radius: 0.60rem;
    display: flex;
    flex-wrap: wrap;
    row-gap: 0.35rem;
}

.food h2{
    padding-left: 0.30rem; 
    color: black;  
}

.nutrient{
    width: 50%;
    padding: 0.625rem 0rem;
    background-color: rgb(242, 241, 247);
    border-radius: 0.20rem;
    
}

.n-title{
    font-weight: bold;
    color: black;
}

.n-value{
    color: black;
}

.nutrient p{
    margin-left: 0.85rem;
}

.inp-quant{
    border: 2px solid rgb(227, 227, 227);
    border-radius: 0.25rem;
    text-indent: 0.25rem;
    background-color: rgb(242, 241, 247);
    padding: 0.25rem;
    margin-top: 0.25rem;
    
}

.btn-add{
    padding: 0.25rem 1rem;
    border-radius: 0.75rem;
    background-color: rgb(215, 55, 80);
    color: white;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    margin-left: 0.55rem;
    
}


/* diet page css */

.diet-container{
    flex-direction: column;
    align-items: center;
    row-gap: 0.65rem;

}

.date-box{
    border-radius: 0.65rem;
    padding: 0.15rem 0.5rem;
}

.item{
    width:100%;
    padding: 0.25rem 0.5rem;
    background-color: #ffff;
    border-radius: 0.65rem;
}

.item h3{
    font-size: 0.85rem;
    color: black;
}

.item h4{
    color: rgb(215, 55, 80);
    font-size: 0.75rem;
}

.item p{
    font-size: 0.75rem;
    color:black;
}

/* header page css */

.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 2rem;
    border: 1.5px solid black;
    border-radius: 0.65rem;
    padding: 0.15rem 0.55rem;
    margin-bottom: 0.25rem;
    background-color: white;
    font-weight: bold;
    color: black;
}